#algol-accordion a {
    display: block;
}
#algol-accordion ul {
    margin-bottom: 0;
}
#algol-accordion .algol-accordion__body{
    transition: opacity .8s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
 /** This class will show the body if it has a parent with active       class
 **/
#algol-accordion .active > .algol-accordion__body {
    opacity: 1;
    height: auto;
}