.algol-container {
    padding: 4rem 0;
    background-color: white;
}
#algol-docs-main {
    max-width: 1140px;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
}
#algol-docs-main ul {
    list-style-type: none;
}
#algol-docs-main h1,
#algol-docs-main h2,
#algol-docs-main h3,
#algol-docs-main h4,
#algol-docs-main h5,
#algol-docs-main h6 {
    margin: 0;
}
#algol-docs-main h1 {
    font-size: 32px;
}
#algol-docs-main h2 {
    font-size: 24px;
}
#algol-docs-main h3 {
    font-size: 18.72px;
}
#algol-docs-main h4 {
    font-size: 16px;
}
#algol-docs-main h5 {
    font-size: 13.28px;
}
#algol-docs-main h6 {
    font-size: 10.72px;
}
#algol-docs-main p {
    margin-block-start: initial;
}
#algol-docs-main h1,#algol-docs-main h2,#algol-docs-main h3,#algol-docs-main h4,#algol-docs-main h5,#algol-docs-main h6 {
    margin-top: initial;
}
#algol-docs-main a:focus, #algol-docs-main a:active, #algol-docs-main button:focus, #algol-docs-main .button.alt:focus,
#algol-docs-main input:focus, #algol-docs-main textarea:focus, #algol-docs-main input[type="button"]:focus, #algol-docs-main input[type="reset"]:focus,
#algol-docs-main input[type="submit"]:focus, #algol-docs-main input[type="email"]:focus, #algol-docs-main input[type="tel"]:focus,
#algol-docs-main input[type="url"]:focus, #algol-docs-main input[type="password"]:focus, #algol-docs-main input[type="search"]:focus
{
    outline: none !important;
}
#algol-docs-main_position {
    margin-bottom: 4rem;
}
.algol-docs-row {
    flex: 1;
}
#algol-docs-main#algol-docs-main a {
    color: #0081cc !important;
}
#algol-docs-main a:hover {
    background: #f9f9f9;
    text-decoration: none;
}
.algol-accordion__panel {
    margin-bottom: .5rem;
}
.algol-accordion__panel:last-child {
    margin-bottom: 0;
}
.algol-accordion__link {
    display: block;
    padding: 9px 15px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #e4e4e4;
}
.algol-accordion__link:first-child {
    border-top: 0;
}
.algol-accordion__link:focus, .algol-accordion__link:hover, .algol-accordion__link:active {
    outline-color: none !important;
}
.algol-accordion__link_active-page {
    background: #f7f7f7;
}
.algol-accordion__header_position {
    padding: 7px 12px;
}
.algol-accordion__header {
    color: #666;
    background-color: #f7f7f7;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #e4e4e4;
}
.algol-accordion__panel .algol-accordion__header:before {
    content: '\f067';
    font-family: "FontAwesome";
    line-height: 1;
    font-size: 11px;
    margin-right: 10px;
    color: #666;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
.algol-accordion__panel.active .algol-accordion__header:before {
    content: '\f068';
}
.algol-accordion__header:first-child {
    border-width: 1px;
}
.algol-accordion__header:hover {
    color: #000 !important;
    background: #f4f4f4;
    text-decoration: none;
    border-color: #ddd;
}
.algol-accordion__body {
    border-style: solid;
    border-color: #e4e4e4;
    border-width: 0 1px 1px 1px;
}
.algol-docs__content-wrapper {
    display: flex;
}
.algol-docs__accordion-wrapper {
    flex: 25%;
    max-width: 25%;
    min-width: 255px;
}
.padding-default {
    padding-right: 15px;
    padding-left: 15px;   
}
.algol-docs__categories-wrapper {
    display: flex;
    flex-direction: column;
    flex: 75%;
    max-width: 75%;
}
.algol-docs__category-wrapper {
    flex: 50%;
    max-width: 50%;
}
.flex-row {
    flex-direction: row !important;
}